body
{
    font-family: sans-serif;
}

.paragraph
{
    color: #1f3f68;
    font-size: 16px;
    line-height: 26px;
}

.paragraph::first-letter
{
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase
}

.copy
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 26px;
}

.heading
{
    color: #1f3f68;
    font-size: 64px;
}

.heading-block
{
    margin: 50px 0 150px 0;
    text-align: left;
    max-width: 50%;
}

.sub-heading
{
    font-size: 44px;
    font-weight: 500;
    text-align: center;
}

.section-caption
{
    font-size: 36px;
    margin: 25px 0 50px 0;
    text-align: center;
}

.section-caption-block
{
    padding: 5px 20%;
    text-align: center;
}

.section-title
{
    color: #1f3f68;
    font-size: 20px;
    line-height: 30px;
}

.form-item
{
    border: 1px solid #356EAD;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.4;
}

.form-button-primary
{
    background: #5A98D0;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.6);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.form-primary
{
    background: rgba(0, 0, 220, 0.01);
    padding: 10px;
    text-align: center;
}

.image-round
{
    border-radius: 50%;
    min-width: 100px;
}

.image-intext
{
    float: right;
    float: left;
    width: 10%;
}

.content
{
    margin: 10px 25px 10px 25px;
}

.header
{
    height: 10%;
    margin: 10px 25px 10px 25px;
}

.footer
{
    background: #316099;
    color: #fafaff;
    margin: 0;
    padding: 10px 25px 10px 25px;
}

.footer .paragraph
{
    color: #fafaff;
}

.footer .paragraph::first-letter
{
    color: #ffffff;
}

.footer-section
{
    margin: 15px 0 10px 0;
    min-width: 100px;
    text-align: left;
    width: 35%;
}

.phone-list li::marker
{
    content: "\260F"
}