.naviagiton-menu
{
    display: flex;
    flex-flow: row wrap;
}

.naviagiton-menu-item
{
    border: 1px solid transparent;
    min-width: 10em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.naviagiton-menu-item:hover
{
    border-color: #1f3f68;
}